{% block meta_description %}
    Filtrez les hébergements par pays, type de logement, ou prix pour trouver l'endroit parfait pour votre séjour sur Exploréa.
{% endblock %}
{#conteneur principal du formulaire de filtrage , inialement masqué#}
<div class="filter-Form" id="FilterForm" style="display: none;">
    <div class="filter-content">
        <!-- Bouton pour fermer la fenêtre de filtrage -->
        <button class="close-icon" onclick="toggleFilterModal()" aria-label="Fermer les filtres">✖</button>
        <h2 class="filter-title">Filtres</h2>
        {# debut la formulaire #}
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
            {{ form_errors(form.country) }}
        </div>
        <div class="form-group">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
            {{ form_errors(form.duration) }}
        </div>
        <label class="price">Prix</label>
        <div class="form-group1 form-group">
            {{ form_widget(form.priceMin, { 'attr': { 'placeholder': 'Min' } }) }}
            {{ form_errors(form.priceMin) }}
            {{ form_widget(form.priceMax, { 'attr': { 'placeholder': 'Max' } }) }}
            {{ form_errors(form.priceMax) }}
        </div>
        {#boutton de soumission du formulaire #}
        <button type="submit" class=" btn-primary" aria-label="Lancer la recherche">Rechercher</button>
        {{ form_end(form) }}
    </div>
</div>