
{#footer principal#}
<footer class="footer">
    <div class="footer-top">
        <h2 >Explorez les Merveilles du Monde</h2>
    </div>

    <div class="footer-middle">
        {# liste de liens pour naviguer vers les section principals du site #}
        <ul class="footer-links">
            <li><a href="{{ path('app_accommodation_showAll') }}" aria-label="En savoir plus sur les hébergements">Hébergements</a></li>
            <li><a href="{{ path('app_activity_showAll') }}" aria-label="En savoir plus sur les hébergements">Activités</a></li>
            <li><a href="{{ path('app_publish') }}" aria-label="Ajouter une annonce">Publier une annonce </a></li>
        </ul>
        {# Logo du mon site placé au centre du footer#}
        <div class="footer-logo">
            <img src="{{ asset('images/Exploréa (1).png') }}" alt="Exploréa Logo">
        </div>

        <ul class="footer-links">
            <li><a href="#">A propos</a></li>
            <li><a href="{{ path('app_register') }}" aria-label="S'inscrire sur explorea"  >S'inscrire</a></li>
            {# Lien vers les conditions d'utilisation d'explorea#}
            <li><a href="{{ path('terms') }}" aria-label="Consulter les conditions d'utilisation du site">Conditions d'Utilisation</a></li>

        </ul>
    </div>

    <div class="footer-bottom">
        <p>&copy;2024 Exploréa. Tous droits réservés.</p>
        <p><a href="{{ path('terms') }}" aria-label="Consulter les conditions d'utilisation du site">Condition d'utilisation</a> | <a href="#">politique de confidentialité</a></p>
    </div>

</footer>