{% block importmap %}{{ importmap('header') }}{% endblock %}
<header>
    <div class="logo">
        <a href="{{ path('home') }}"><img src="{{ asset('images/Exploréa (1).png') }}" alt="Logo Exploréa" ></a>
    </div>
    <div class="container">

        <!-- Menu burger visible sur mobile -->
        <div class="menu-burger" id="menuBurger">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <nav class="navbar" id="navbar">
            <ul class="nav-links">
                <li><a href="{{ path('app_accommodation_showAll') }}">Logements</a></li>
                <li><a href="{{ path('app_activity_showAll') }}">Expériences</a></li>
                <li><a href="{{ path('app_accommodation_new') }}">Annoncer mon hébergement</a></li>
            </ul>
            <div class="auth-buttons">
                <a href="{{ path('app_login') }}" class="btn">Login</a>
                <a href="{{ path('app_register') }}" class="btn">Sign Up</a>
            </div>
        </nav>
    </div>

</header>


<script>
    const menuBurger = document.getElementById('menuBurger');
    const navbar = document.getElementById('navbar');

    menuBurger.addEventListener('click', () => {
        navbar.classList.toggle('active');
    });
</script>


