{% block importmap %}{{ importmap('header') }}{% endblock %}
<header>
    <div class="logo">
        <a href="{{ path('home') }}"><img src="{{ asset('images/Exploréa (1).png') }}" alt="Logo Exploréa" ></a>
    </div>
    <div class="container">

        <!-- Menu burger visible sur mobile -->
        <div class="menu-burger" id="menuBurger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav class="navbar" id="navbar">
            <ul class="nav-links">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin_dashboard') }}">Tableau de Bord Admin</a></li>
                {% elseif is_granted('ROLE_HOST') %}
                    <li><a href="{{ path('host_dashboard') }}">Mon Espace</a></li>
                {% elseif is_granted('ROLE_TRAVELER') %}
                    <li><a href="{{ path('traveler_dashboard') }}">Mon Espace</a></li>
                {% endif %}
                <li><a href="{{ path('app_accommodation_showAll') }}">Logements</a></li>
                <li><a href="{{ path('app_activity_showAll') }}">Expériences</a></li>
                {% if app.user %}
                    <li><a href="{{ path('toggle-favorite_List') }}">Favoris</a></li>
                {% endif %}

                    <li><a href="{{ path('app_publish') }}">Publier une annonce</a></li>
                {% if is_granted('ROLE_HOST') %}
                    <div class="notification">
                        <a href="{{ path('host_notification') }}">
                            <img src="{{ asset('images/notification.png') }}" alt="Notifications" class="logout-icon1">
                            {% if unreadNotifications is defined and unreadNotifications > 0 %}
                                <span class="badge">{{ unreadNotifications }}</span>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            </ul>
            <div class="auth-buttons">
                {% if not  app.user %}
                    <a href="{{ path('app_login') }}" class="btn">Connexion</a>
                    <a href="{{ path('app_register') }}" class="btn">Inscription</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuBurger = document.getElementById("menuBurger");
            const navbar = document.getElementById("navbar");

            menuBurger.addEventListener("click", function() {
                navbar.classList.toggle("active");
                console.log("Classes de navbar:", navbar.classList);
            });
        });
    </script>
{% endblock %}
