{% block importmap %}{{ importmap('header') }}{% endblock %}
<header>
    <nav>
        <div class="image">
        <img src="{{ asset('images') }}" alt="Logo">
        </div>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('app_accommodation_showAll') }}">Logements</a>
        <a href="{{ path('app_activity_showAll') }}">Expériences</a>
        <a>Blog</a>

        <a href="{{ path('app_login') }}">Annoncer mon hébergement</a>
        <div id="btn">
            <a href="{{ path('app_login') }}">Login</a>
            <a href="{{ path('app_register') }}">Sign Up</a>
        </div>
    </nav>
</header>

