<!-- carte d'annonce princial pour un hébergement -->
<div class="card"  data-accommodation-id="{{ accommodation.id }}">
   <a href="{{ path('app_accommodation_showDetails', {'id': accommodation.id}) }}">
       <div class="image-gallery">
           <!-- Carousel contenant les images de l'hébergement -->
           <div class="carousel" id="carousel-{{ accommodation.id }}">
               {% for picture in accommodation.pictures %}
                   <div class="carousel-item" style="display: {% if loop.first %}block{% else %}none{% endif %};">
                       <img src="{{ vich_uploader_asset(picture, 'accommodationImageFile') }}" alt="Image de l'hébergement">
                   </div>
               {% endfor %}
           </div>
           <!-- Bouton favori -->
           <div class="favorite-button">
               <a href="{{ path('toggle-favorite_accommodation', { 'id': accommodation.id }) }}">
                   {% if app.user and app.user.favoriteAccommodation.contains(accommodation) %}
                       <img src="{{ asset('images/addFavorite.jpg') }}" alt="Retirer des favoris" class="favorite-icon filled">
                   {% else %}
                       <img src="{{ asset('images/retireFavorite.png') }}" alt="Ajouter aux favoris" class="favorite-icon empty">
                   {% endif %}
               </a>
           </div>
           <button class="carousel-prev" onclick="plusSlides('carousel-{{ accommodation.id }}', -1)">&#10094;</button>
           <button class="carousel-next" onclick="plusSlides('carousel-{{ accommodation.id }}', 1)">&#10095;</button>

       </div>
       <h4>{{ accommodation.title }}</h4>
       <div class="position">
           <img class="locate" src="{{ asset('images/adresse.png') }}" alt="adresse">
           <div class="title-first"> {{ accommodation.city.name }},{{ accommodation.city.country.name }}</div>
       </div>
       <section class="details1">
           <div class="details1">
               <img class="picture1" src="{{ asset('images/traveler.png')  }}" alt="Nombre d'invités">
               <span>{{ accommodation.NbGuests }} invités</span>
           </div>
           <div class="details1">
               <img class="picture1" src="{{ asset('images/bed.png') }}" alt="Nombre de chambres">
               <span>{{ accommodation.NbRooms }} chambres</span>
           </div>
       </section>
       <p>{{ accommodation.description }}</p>
       <button class="price">{{ accommodation.priceNight }}€ / nuit</button>

       <div class="btn-crud">
           <a title = "voir les détails de l'annonce" href="{{ path('app_accommodation_showDetails', { 'id': accommodation.id }) }}"><img src="{{ asset('images/info.png') }}" class="btn-show" alt="Voir les détails">
           </a>
           {% if is_granted('ROLE_HOST') and accommodation.host.id == app.user.id or is_granted('ROLE_ADMIN') %}
               <a href="{{ path('app_accommodation_update', {'id': accommodation.id}) }}" class="btn-edit"><img src="{{ asset('images/pen.png') }}" alt="editer l'annonce" class="btn-edit"></a>
               <form action="{{ path('app_accommodation_remove', {'id': accommodation.id}) }}" method="post" class="form-delete">
                   <input type="hidden" name="_token" value="{{ csrf_token('delete-accommodation' ~ accommodation.id) }}">
                   <button type="submit" class="btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.')">
                       <img src="{{ asset('images/delete.png') }}" alt="" class="btn-delete">
                   </button>
               </form>

           {% endif %}
       </div>
   </a>

</div>


