
    <div class="image-gallery">
        <div class="carousel" id="carousel-{{ activity.id }}">
            {% for picture in activity.pictures %}
                <img class="carousel-item" src="{{ asset(picture.imageURL)  }}" alt="Image de l'hébergement"
                     style="display: {% if loop.first %}block{% else %}none{% endif %};">
            {% endfor %}
            </div>
        <button class="prev" onclick="plusSlides({{ activity.id }}, -1)">&#10094;</button>
        <button class="next" onclick="plusSlides({{ activity.id }}, 1)">&#10095;</button>
    </div>

    <h4>{{ activity.title }}</h4>
    <div class="position">
        <img class="locate" src="{{ asset('images/adresse.png') }}" alt="adresse">
        <div class="title-first"> {{ activity.address }},{{ activity.city.name }}</div>
    </div>
    <p>{{ activity.description }}</p>
    <button class="price">{{ activity.price }}£</button>
        <div>{{ activity.category.name }}</div>

{#<div class="btn-crud">#}
{#    <a href="{{ path('app_activity_showAll', {'id': activity.id}) }}"><img src="{{ asset('images/info.png') }}" alt="" class="btn-show"></a>#}
{#    {% if is_granted('ROLE_HOST') and activity.host.id == app.user.id or is_granted('ROLE_ADMIN') %}#}
{#        <a href="{{ path('app_activity_update', {'id': activity.id}) }}" class="btn-edit"><img src="{{ asset('images/pen.png') }}" alt="" class="btn-edit"></a>#}
{#        <form action="{{ path('app_activity_remove', {'id': activity.id}) }}" method="post" class="form-delete">#}
{#            <input type="hidden" name="token" value="{{ csrf_token('delete-activity-' ~ activity.id) }}">#}
{#            <button type="submit" class="btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.')"><img src="{{ asset('images/delete.png') }}" alt="" class="btn-delete"></button>#}
{#        </form>#}
{#    {% endif %}#}
{#</div>#}

