<div class="card">
    <img class="house1" src="{{ asset('/images/hebrg1.png') }}" alt="">

    <h4>{{ accommodation.title }}</h4>
    <button class="price">{{ accommodation.priceNight  }}</button>
    <div class="position">
        <img class="locate" src="" alt="">
        <div class="title-first">{{ accommodation.address }}</div>
    </div>
    <img class="pic-sale2" src="" alt="">
    <section class="details1">
        <img class="picture1" src="" alt="">
        <div>{{ accommodation.NbGuests}}</div>
        <img class="picture1" src="" alt="" srcset="">
        <div>{{ accommodation.NbRooms}}</div>
    </section>

    <p>{{ accommodation.description}}</p>
    <div class="buttons1">
        <a href="{{ path('app_accommodation_showDetails',{'id':accommodation.id}) }}">plus d'information</a>
        <a href="{{ path('app_accommodation_update',{'id':accommodation.id}) }}">Modifier</a>

        <form action="{{ path('app_accommodation_remove',{'id':accommodation.id}) }}" method="post">
            <input type="hidden" name="token" value="{{ csrf_token('delete-acommodation' ~ accommodation.id) }}">
        <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.')">supprimer</button>
        </form>


        <a >Contact</a>
    </div>
</div>


