{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap('pagination') }}
{% endblock %}
{% block body %}
    <div class="reservation-container">
        <h1>Liste des Hébergements</h1>
        <p>Nombre total des Hébergements : <strong>{{ pagination.getTotalItemCount }}</strong></p>
        <a href="{{ path('app_admin_accommodation_new') }}" class="btn-create">Créer un nouvel hébergement </a>
        <table class="reservation-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>>
                <th>Prix/Nuit</th>
                <th>Type</th>
                <th>Hôte</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for accommodation in pagination %}
            <tr>
                <td>{{ accommodation.id }}</td>
                <td>{{ accommodation.title }}</td>
                <td>{{ accommodation.priceNight }} €</td>
                <td>{{ accommodation.propertyType.value }}</td>
                <td>
                    {% if accommodation.host and accommodation.host.userProfile %}
                        {{ accommodation.host.userProfile.firstName }} {{ accommodation.host.userProfile.lastName }}
                    {% else %}
                        Hôte non défini
                    {% endif %}
                </td>
                <td>{{ accommodation.city.name }}</td>

                    <td class="actions">
                        <a href="{{ path('app_admin_accommodation_show', {'id': accommodation.id}) }}" class="btn-show">Afficher</a>
                        <a href="{{ path('app_admin_accommodation_edit', {'id': accommodation.id}) }}" class="btn-edit">Modifier</a>
                        <form method="post" action="{{ path('app_admin_accommodation_delete', {'id': accommodation.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet hébergement ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accommodation.id) }}">
                            <button class="btn-delete" type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
