{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
{% endblock %}
<div class="reservation-container">
    <h1>Liste des Hébergements</h1>
    <p>Nombre total des Hébergements : <strong>{{ pagination.getTotalItemCount }}</strong></p>
    <a href="{{ path('app_admin_accommodation_new') }}" class="btn-create">Créer un nouvel hébergement</a>

        <table class="reservation-table">
            <thead>
            <tr>
                <th class="title-column">Titre</th>
                <th class="price-column">Prix/Nuit</th>
                <th class="type-column">Type</th>
                <th class="host-column">Hôte</th>
                <th class="city-column">Ville</th>
                <th class="actions-column">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for accommodation in pagination %}
                <tr>
                    <td class="title-column">{{ accommodation.title }}</td>
                    <td class="price-column">{{ accommodation.priceNight }} €</td>
                    <td class="type-column">{{ accommodation.propertyType.value }}</td>
                    <td class="host-column">
                        {% if accommodation.host and accommodation.host.userProfile %}
                            {{ accommodation.host.userProfile.firstName }} {{ accommodation.host.userProfile.lastName }}
                        {% else %}
                            Hôte non défini
                        {% endif %}
                    </td>
                    <td class="city-column">{{ accommodation.city.name }}</td>
                    <td class="actions-column actions">
                        <a href="{{ path('app_admin_accommodation_show', {'id': accommodation.id}) }}" class="btn-show">Afficher</a>
                        <a href="{{ path('app_admin_accommodation_edit', {'id': accommodation.id}) }}" class="btn-edit">Modifier</a>
                        <form method="post" action="{{ path('app_admin_accommodation_delete', {'id': accommodation.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet hébergement ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accommodation.id) }}">
                            <button class="btn-delete" type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

