{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/details.css') }}">
{% endblock %}

<div class="reservation-summary">
    <h2>Détails d'accommodation</h2>

    <table class="table">
        <tbody>
        <tr>
            <th>Title</th>
            <td>{{ accommodation.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ accommodation.description }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ accommodation.address }}</td>
        </tr>
        <tr>
            <th>PriceNight</th>
            <td>{{ accommodation.priceNight }}</td>
        </tr>
        <tr>
            <th>NbGuests</th>
            <td>{{ accommodation.NbGuests }}</td>
        </tr>
        <tr>
            <th>NbRooms</th>
            <td>{{ accommodation.NbRooms }}</td>
        </tr>
        <tr>
            <th>PropertyType</th>
            <td>{{ accommodation.propertyType.value }}</td>
        </tr>
        <tr>
            <th>Host</th>
            <td>{{ accommodation.host.userProfile.firstName }}</td>
        </tr>
        <tr>
            <th>city</th>
            <td>{{ accommodation.city.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_accommodation_list') }}" aria-label="retour a la liste des hebergemnts">Retour à la liste</a>


</div>
