{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}
{% block importmap %}{{ importmap('login') }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    {% include '_partials/notification.html.twig' %}

    <div class="container">
        <div class="authentif-form">

            {% if app.user %}
                <div >
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h2 >Se Connecter</h2>
            <form method="post">
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                <label for="password">Password</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <span  class="eye-icon" onclick="showPassword('password')">👁️</span>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="options">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                    <a href="{{ path('app_forgot_password_request') }}">Forgot Password?</a>
                </div>

                <button type="submit" class="btn">
                    Sign in
                </button>
            </form>
        </div>
        <div class="illustration">
            <img class="img-authentif" src="{{ asset('images/login (2).png') }}" alt="Illustration">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/showPassword.js') }}"></script>
{% endblock %}
