
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap('pagination') }}
{% endblock %}

{% block body %}
<div class="reservation-container">
    <h1>Activity index</h1>
    <p>Nombre total des activities : <strong>{{ pagination.getTotalItemCount }}</strong></p>
    <a href="{{ path('app_admin_activity_new') }}" class="btn-create">Créer une nouvelle Activity </a>

    <table class="reservation-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for activity in pagination %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.category.name }}</td>
                <td class="actions">
                    <a href="{{ path('app_admin_activity_show', { 'id': activity.id }) }}" class="btn-show">Afficher</a>
                    <a href="{{ path('app_admin_activity_edit', { 'id': activity.id }) }}" class="btn-edit">Modifier</a>
                    <form method="post" action="{{ path('app_admin_activity_delete', { 'id': activity.id }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette activité?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
                        <button class="btn-delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
