{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Address</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.price }}</td>
                <td>{{ activity.address }}</td>
                <td>{{ activity.category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('app_admin_activity_edit', {'id': activity.id}) }}">edit</a>
                    <a href="{{ path('app_admin_activity_delete', {'id': activity.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_activity_new') }}">Create new</a>
{% endblock %}
