{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}
 {% block importmap %}{{ importmap(['app','acceuil','header','footer']) }}{% endblock %}
   {% block stylesheets %}
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&display=swap" rel="stylesheet">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
   {% endblock %}
{% block body %}
         {% include '_partials/notification.html.twig' %}
{#partie1#}
    <section id="section1">
           <img id="img1" src="{{asset('images/photo2.png') }}" alt="">
    </section>
{# fin partie1#}

{# partie 2 #}
    <form action="{{ path('search_result') }}" method="get" class="search-bar">
    <div class="search-field">
        <label for="destination">Destination</label>
        <select id="destination" name="destination" class="form-control">
            <option value="">Sélectionnez une destination </option>
            {% for country in countries %}
                <option value="{{ country.name }}">{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="search-field">
        <label for="type">Type</label>
        <select id="type" name="type" class="form-control" >
            <option value="">Sélectionner un type</option>
            <option value="accommodation">Logement</option>
            <option value="activity">Activité</option>
        </select>
    </div>

    <button type="submit" class="search-btn">
        <img src="{{ asset('images/search1.png') }}" alt="Search Icon">
        Rechercher
    </button>
</form>
    {# fin partie 2 #}

    {# partie3 #}
     <article id="article1">
         <div class="title1">Destination de rêve </div>
         <div class="title2">Planifiez le voyage de vos rêves en <br>  toute simplicité.</div>
         <div class="block1">
             <p>
                 Que vous recherchiez une escapade romantique, une aventure en famille
                 ou un voyage <br>en solo pour explorer le monde, notre plateforme peut

                 répondre à vos besoins  en vous <br>offrant une gamme de services variés.
                 Que ce soit pour trouver un hébergement idéal<br> ou des activités adaptées
                 à vos envies, nous avons tout ce qu'il vous faut.
             </p>

             <button> Plus d'info</button>
         </div>
     </article>
   {#fin partie3#}

    {#partie4#}
    <figure >
        <div class="image-container">
            <img src="{{ asset('images/Section1.png') }}" alt="Background Image" class="background-image">
            <img src="{{ asset('images/icone1.png') }}" alt="Icon Image" class="icon-image ">
        </div>
        <div class="image-container">
            <img src="{{ asset('images/Section2.png') }}" alt="Background Image" class="background-image">
            <img src="{{ asset('images/icone2.png') }}" alt="Icon Image" class="icon-image ">
        </div>
        <div class="image-container">
            <img src="{{ asset('images/Section3.png') }}" alt="Background Image" class="background-image">
            <img src="{{ asset('images/icone3.png') }}" alt="Icon Image" class="icon-image ">
        </div>
    </figure>

    <figure>
        <div class="card">
            <div class="card-image">
                <img src="{{ asset('images/image1.png') }}" alt="">
            </div>
            <div class="card-content">
                <div class="card-header">
                    <span class="duration"> 1 Jour</span>
                    <span class="contact"></span>
                </div>
                <h2 class="title">cappadocia</h2>
                <p class="location">Turquie</p>
                <p class="description">vols en montgolfière au lever du soleil.une expérience inoubliable qui offre des vues spectaculaires sur les formations ...</p>
                <div class="card-footer">
                    <button class="details-button">Details</button>
                    <span class="price">250 £</span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{{ asset('images/image2.png') }}" alt="">
            </div>
            <div class="card-content">
                <div class="card-header">
                    <span class="duration">1 Jour</span>
                    <span class="contact"></span>
                </div>
                <h2 class="title">Chao Phraya</h2>
                <p class="location">Thailand</p>
                <p class="description">Tour en bateau dans la capitale de la Thaïlande, Bangkok,pour voir les beaux palais et monuments depuis l'eau...</p>
                <div class="card-footer">
                    <button class="details-button">Details</button>
                    <span class="price">$ 1500 </span>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{{ asset('images/image3.png') }}" alt="">
            </div>
            <div class="card-content">
                <div class="card-header">
                    <span class="duration">1 Jour</span>
                    <span class="contact"></span>
                </div>
                <h2 class="title">Bangkok</h2>
                <p class="location">Thailand</p>
                <p class="description">Merveilleux voyage culturel au Capitale thaïlandaise avec ses merveilleux monuments et des statues de Bouddha...</p>
                <div class="card-footer">
                    <button class="details-button">Details</button>
                    <span class="price">$ 1000 </span>
                </div>
            </div>
        </div>
    </figure>
{# fin partie4 #}

{# partie5#}
     <div class="container1">
      <h2 class="title4">Annoncez votre hébergement sur <br> Exploréa et profitez d’un <br> revenu de location </h2>
     <img src="{{ asset('images/image4.png') }}" alt="" class="image4">
    </div>
{# fin partie5#}


{# partie6#}
        <h2 class="title2 title3">Explorez nos destinations <br> populaires</h2>
    <section class="card-container">
             <article>
              <img src="{{ asset('images/1.png') }}" alt="Rome, Italy" class="image1">
              <h3 class="card-title">Rome, Italy</h3>
            </article>
        <article>
             <img src="{{ asset('images/2.png') }}" alt="Bangkok, Thailand"  class="image1">
             <h3 class="card-title">Bangkok, Thailand</h3>
        </article>
        <article>
            <img src="{{ asset('images/33.png') }}" alt="Full Europe" class="image1" >
            <h3 class="card-title">Full Europe</h3>
        </article>
        <article>
            <img src="{{ asset('images/4.jpg') }}" alt="Antalya, Turquie" class="image1">
            <h3 class="card-title">Antalya, Turquie</h3>
        </article>
    </section>
{# fin partie6#}

    {# partie7#}
    <article class="article2">
        <div class="block2">
          <div class="title1">A propos de nous </div>
          <h2 class="title5">Découvre votre  prochaine <br> aventure </h2>
           <p>Que vous planifiiez des vacances en famille ou en solo,notre section  <br>dédiée aux prix répondra à tous vos besoins.
           Commencez  dès <br>aujourd'hui à explorer pour trouver
           le service idéal à un tarif <br>qui ne pèsera pas sur votre budget.</p>
          <button> Plus d'info</button>
        </div>
        <div class="block3">

        <img src="{{ asset('images/image1-2.png') }}" alt="" id="img4">
            <img src="{{ asset('images/image1-1.png') }}" alt="" id="img3">
        </div>
    </article>
    {# Fin partie7 #}

    {# partie8 #}
    <article class="article3">
        <div class="title1 title1-1" >Top Destination</div>
        <h2 class="title2">hébergements de vacances à <br> réserver</h2>
        <figure class="figure2">
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset('images/hebrg1.png') }}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="title">Venice villa</h2>
                    <p class="location">Venizia Italie</p>
                    <p class="description">
                        Offrant une vue sur le jardin, le Venice villa apartment est situé à Venise, à 1,5 km du musée M9 et à 4,7 km de la gare de Mestre Ospedale...</p>
                    <div class="card-footer">
                        <span class="price">12 personnes</span>
                        <span class="price">800£/nuit</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset('images/hebrg2.png') }}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="title">Buffa Résidence</h2>
                    <p class="location">Nice France</p>
                    <p class="description">Situé dans le centre de Nice, à 400 mètres de la plage Blue Beach et de la plage Lido, le Buffa Résidence propose une connexion Wi-Fi ...</p>
                    <div class="card-footer">
                        <span class="price"> 4 personnes</span>
                        <span class="price">200£/ nuit </span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="{{ asset('images/hebrg3.png') }}" alt="">
                </div>
                <div class="card-content">
                    <h2 class="title">Moon suites</h2>
                    <p class="location">Antalya Turkie</p>
                    <p class="description">Vous pouvez bénéficier d'une réduction Genius dans l'établissement Moon suites ! Connectez-vous pour économiser. ...</p>
                    <div class="card-footer">
                        <span class="price"> 8 personnes</span>
                        <span class="price">450£/nuit </span>
                    </div>
                </div>
                <a href="{{ path('app_accommodation_showAll') }}">
                    <img class="afficher" src="{{ asset('images/afficher.png') }}" alt="Afficher plus">
                </a>
            </div>

        </figure>
    </article>
    {# fin partie 8 #}

    {# partie 9 #}
    <div class="container2">
        <h2 class="title4-1">Expériences de  voyage <br>  inoubliables </h2>
        <P>Les commentaires de nos clients sont essentiels pour bâtir une excellente <br> réputation et maintenir un excellent service. En écoutant les besoins de <br> nos clients, nous pouvons améliorer nos offres et offrir une expérience de <br>voyage exceptionnelle.</P>
        <article class="article4">
        <div class="blog blog1">
            Mon séjour à turquie grâce à Exploréa a été absolument incroyable. Dès le départ, le processus de réservation a été simple et fluide. Le site est très intuitif et j'ai pu trouver facilement l'appartement parfait pour mon séjour
            <span>Jennifer and Mark</span>
            <img src="{{ asset('images/avatar.png') }}" alt="" class="avatar1">
           </div>
            <div class="blog blog2 ">
                on expérience avec Exploréa a été globalement positive. La réservation des hébergement et des activitées s'est faite facilement . L'appartement était bien situé, à quelques minutes à pied de la plage de Barcelone
                <span>Emmanuel</span>
                <img src="{{ asset('images/avatar2.png') }}" alt="" class="avatar2">
            </div>
        </article>
    </div>
    {# fin partie9 #}
{% endblock %}
