{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/new.css') }}">
{% endblock %}



{% block body %}
<div class="container">
    <h1>Modifier la catégorie {{ category.name }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class=" -primary">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_category_list') }}" class=" -secondary">Retour à la liste</a>
{% endblock %}
</div>