
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap('pagination') }}
{% endblock %}

{% block body %}
    <div class="reservation-container">
        <h1>Liste des Catégories</h1>
        <p>Nombre total des categories : <strong>{{ pagination.getTotalItemCount }}</strong></p>
        {#    lien qui redirige vers la page pour ajouter nouvelle catégorie#}
        <a href="{{ path('app_admin_category_new') }}" class="btn-create">Ajouter une nouvelle catégorie</a>
        {# tableau  ki affiche la liste des catégories#}
        <table class="reservation-table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination %}
                <tr>
                    <td>{{ category.name }}</td>
                    {# les actions(modifier et supprimer #}
                    <td class="actions">
                        <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}" class="btn-edit" aria-label="modifier une catégorie">Modifier</a>
                        <form action="{{ path('app_admin_category_delete', {'id': category.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button type="submit" class="btn-delete">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#    pagination#}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
