{% extends 'base.html.twig' %}
{% block meta_description %}
    <meta name="description" content=" Gérez vos annonces d'hébergements et d'activités, consultez vos réservations, et suivez vos statistiques depuis votre tableau de bord hôte sur Exploréa..
">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
{% endblock %}

{% block title %}Dashboard Hôte{% endblock %}

{% block body %}
    <div class="dashboard-container">
        {#barre latéral ca affiche en version mobile#}
        <button class="menu-button" onclick="toggleSidebar()" aria-label="fermer">
            Espace Hôte
        </button>
        <nav class="sidebar" id="sidebar">
            <div class="avatar-container">
                {# Affichage de l'avatar selon le genre de l'utilisateur #}
                {% if userProfile.gender.value == 'Femme' %}
                    <img src="{{ asset('images/woman.png') }}" alt="Avatar Femme" class="avatar">
                {% else %}
                    <img src="{{ asset('images/man.png') }}" alt="Avatar Homme" class="avatar">
                {% endif %}
            </div>
            {# Liste des liens de navigation pour l'hôte #}
            <ul>
                <li><a href="{{ path('host_profile') }}">Profil</a></li>
                <li><a href="{{ path('host_accommodations') }}">Mes Hébergements</a></li>
                <li><a href="{{ path('host_activities') }}">Mes Activités</a></li>
                <li><a href="{{ path('host_reservations') }}">Mes Réservations</a></li>
                <li><a href="{{ path('host_notification') }}">Notifications de Réservation</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </nav>

        {# Contenu principal de la page, basé sur la section demandée #}
        <div class="main-content">
            {% if section == 'profile' %}
                {% include 'user_profile/show.html.twig' %}
            {% elseif section == 'accommodations' %}
                {% include 'host_dashboard/HostAccommodation.html.twig' %}
            {% elseif section == 'activities' %}
                {% include 'host_dashboard/HostActivities.html.twig' %}
            {% elseif section == 'notification' %}
                {% include 'host_dashboard/notification.html.twig' %}
            {% elseif section == 'reservations' %}
                {% include 'host_dashboard/Reservation.html.twig' %}
            {% else %}
                <h1>Vous n'avez pas encore d'annonces publiées</h1>
            {% endif %}
        </div>

    </div>
    {#    script js pour l overture et fermeture de la barre latéral#}
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("open");
            console.log("Sidebar toggled:", sidebar.classList.contains("open"));
        }
    </script>
{% endblock %}
