
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/showAccom.css') }}">
{% endblock %}
{% block body %}
    <h1>Mes Annonces de Logement </h1>

    {% if accommodations|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for accommodation in accommodations %}
                <tr>
                    <td>{{ accommodation.title }}</td>
                    <td class="btn_crud">
                        <a href="{{ path('app_accommodation_showDetails', {'id': accommodation.id}) }}" class="btn-action btn-show">Afficher</a>
                        <a href="{{ path('app_accommodation_update', {'id': accommodation.id}) }}" class="btn-action btn-edit">Éditer</a>
                        <form action="{{ path('app_accommodation_remove', {'id': accommodation.id}) }}" method="post" class="form-delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete-acommodation' ~ accommodation.id) }}">
                            <button type="submit" class="btn-action btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible.')">Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Vous n'avez pas encore d'hébergements publiés.</p>
    {% endif %}
{% endblock %}


