{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/HostNotification.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
{% endblock %}
{% block body %}
    <h1>Mes notifications</h1>

     {% for message in app.flashes('success') %}
    <div class="alert alert-success flash-message">
        <span>{{ message }}</span>
        <button class="close-" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
{% endfor %}
    {% if notifications|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Message</th>
                <th>Date de réservation</th>
                <th>Type</th>
                <th>Détail</th>
                <th>Voyageur</th>
                <th>Date de départ</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for notification in notifications %}
                <tr class="{{ notification.isRead ? 'read' : 'unread' }}">
                    <td>{{ notification.message }}</td>
                    <td>{{ notification.reservation.dateCreation|date('d/m/Y H:i') }}</td>
                    <td>{{ notification.reservation.accommodation ? 'Hébergement' : 'Activité' }}</td>
                    <td>
                        {% if notification.reservation.accommodation %}
                            {{ notification.reservation.accommodation.title }}
                        {% else %}
                            {% for activity in notification.reservation.activities %}
                                {{ activity.title }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ notification.reservation.traveler.userProfile.firstName }} {{ notification.reservation.traveler.userProfile.lastName }}</td>
                    <td>{{ notification.reservation.departureDate|date('d/m/Y') }}</td>
                    <td class="btn_reserv">
                        <a href="{{ path('host_confirm', {'id': notification.reservation.id}) }}" class="btn btn-success">Approuver</a>
                        <a href="{{ path('host_cancel', {'id': notification.reservation.id}) }}" class="btn btn-delete">Annuler</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune notification de réservation.</p>
    {% endif %}
    <div class="pagination-container">
        {{ knp_pagination_render(notifications) }}
    </div>
{% endblock %}
