{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block importmap %}{{ importmap('register') }}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    {%  for message in app.flashes ('success') %}
        {% include '_partials/notification.html.twig'  %}
    {% endfor %}
    <div class="container">
        <div class="authentif-form">
            <h2>inscription</h2>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
        <div class="illustration">
            <img class="img-register" src="{{ asset('images/register.png') }}" alt="Illustration">
        </div>
    </div>
{% endblock %}
