{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
{% endblock %}

{% block body %}
<div class="reservation-container">
    <h1>Liste des Statuts de Réservations</h1>
    <a href="{{ path('app_admin_reservation_status_new') }}" class="btn-create">Ajouter un nouveau statut</a>

    <table class="reservation-table">
        <thead>
        <tr>
            <th>Nom du Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for status in statusList %}
            <tr>
                <td>{{ status.status.value }}</td>
                <td class="actions">
                    <a href="{{ path('app_admin_reservation_status_edit', {'id': status.id}) }}" class="btn-edit">Modifier</a>
                    <form action="{{ path('app_admin_reservation_status_delete', {'id': status.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce statut ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
                        <button type="submit" class="btn-delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
