{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Récapitulatif de la réservation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/summaryReserv.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('app_accommodation_showAll') }}" class="back-to-accommodation">
        <img src="{{ asset('images/en-arriere.png') }}" alt="Retour aux hébergements" class="back-icon">
    </a>
    {# Afficher les messages de succès (lors de la confirmation) #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success flash-message">
        <span>{{ message }}</span>
        <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
    {% endfor %}
    {# Afficher les messages d'avertissement (lors de l'annulation) #}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning flash-message">
            <span>{{ message }}</span>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
    {% endfor %}

    <div class="reservation-summary">
        <h2>Détail de la réservation</h2>

        {% if reservation.accommodation %}
            <p><strong>Hébergement :</strong> {{ reservation.accommodation.title }}</p>
        {% endif %}

        {% if reservation.activities|length > 0 %}
            <p><strong>Activités :</strong></p>
            <ul>
                {% for activity in reservation.activities %}
                    <li>
                        <p><strong>Activité :</strong> {{ activity.title }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


        <p><strong>Voyageur :</strong> {{ reservation.traveler.userProfile.firstName }} {{ reservation.traveler.userProfile.lastName }}</p>

        {% if reservation.accommodation %}
            <p><strong>Date de départ :</strong> {{ reservation.departureDate|date('d/m/Y') }}</p>
            <p><strong>Date de retour :</strong> {{ reservation.returnDate|date('d/m/Y') }}</p>
        {% elseif reservation.activities|length > 0 %}
            <p><strong>Date :</strong> {{ reservation.departureDate|date('d/m/Y') }}</p>
        {% endif %}

        <p><strong>Nombre de voyageurs :</strong> {{ reservation.voyagerNb }}</p>
        <p><strong>Total :</strong> {{ reservation.total }} €</p>

        {# Afficher le statut de la réservation #}
        <p><strong>Statut :</strong>
            {% if reservation.status.status.value == 'En attente' %}
                En attente de confirmation
            {% elseif reservation.status.status.value ==  'Confirmé' %}
                Réservation confirmée
            {% elseif reservation.status.status.value == 'Annulé' %}
                Réservation annulée
            {% endif %}
        </p>
        {% if form is defined %}
            {{ form_start(form) }}
                {{ form_widget(form.activities) }}
                <div class="buttons">
                    <button type="submit" class="buttons btn_confirm">Confirmer</button>
                    <a href="{{ path('reservation_cancel', {'id': reservation.id}) }}" class="buttons btn_cancel">Annuler</a>
                </div>
            {{ form_end(form) }}
        {% endif %}

    </div>
{% endblock %}