{% extends 'base.html.twig' %}

{% block title %}Confirmation de la réservation{% endblock %}

{% block body %}
    <h1>Confirmation de la réservation</h1>

    <div>
        <h2>Détails de la réservation</h2>

        {# Affichage des détails de l'hébergement #}
        {% if accommodation %}
            <h3>Hébergement réservé :</h3>
            <p>Nom : {{
                accommodation.title }}</p>
            <p>Adresse : {{ accommodation.address }}</p>
            <p>Prix par nuit : {{ accommodation.priceNight }} €</p>

        {% else %}
            <p>Aucun hébergement réservé.</p>
        {% endif %}

        {# Affichage des détails des activités #}
{#        {% if not activities.isEmpty() %}#}
{#            <h3>Activités réservées :</h3>#}
{#            <ul>#}
{#                {% for activity in activities %}#}
{#                    <li>{{ activity.title }} ({{ activity.price }} €)</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% else %}#}
{#            <p>Aucune activité réservée.</p>#}
{#        {% endif %}#}


        {# Total de la réservation #}
        <h3>Total :</h3>
        <p>{{ reservation.total }} €</p>

    </div>

    <div>
        <a href="{{ path('reservation_details', {'id': reservation.id}) }}" class="btn btn-secondary">récapitulation</a>
    </div>
{% endblock %}
