{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/new.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Envoyer une Notification</h1>

    {{ form_start(form) }}
    {{ form_row(form.message) }}
    {{ form_row(form.isRead) }}
    <button type="submit" class="btn btn-primary">{{ form.save.vars.label }}</button>
    {{ form_end(form) }}
{% endblock %}
</div>