{% extends 'base.html.twig' %}
{% block meta_description %}
    Accédez à votre tableau de bord voyageur sur Exploréa. Gérez vos réservations, consultez vos activités et hébergements favoris, et suivez l'état de vos demandes.
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/dashboard.css') }}">
{% endblock %}
{% block title %}Dashboard Traveler{% endblock %}

{% block body %}
    <div class="dashboard-container">
        <!-- Sidebar with a toggle button for mobile -->
        <button class="menu-button" onclick="toggleSidebar()">
            Espace Voyageur
        </button>

        <nav class="sidebar" id="sidebar">
            <div class="avatar-container">
                {% if userProfile.gender.value == 'Femme' %}
                    <img src="{{ asset('images/woman.png') }}" alt="Avatar Femme" class="avatar">
                {% else %}
                    <img src="{{ asset('images/man.png') }}" alt="Avatar Homme" class="avatar">
                {% endif %}
            </div>

            {#les section de dashboard#}
            <ul>
                <li><a href="{{ path('traveler_profile') }}">Profil</a></li>
                <li><a href="{{ path('traveler_reservations') }}">Mes Réservations</a></li>
                <li><a href="{{ path('traveler_reviews') }}">Avis</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </nav>


        <!-- le contenue de chaque section-->

        <div class="main-content">
            {% if section == 'profile' %}
                {% include 'user_profile/show.html.twig' %}
            {% elseif section =='reservations' %}
                {% include 'host_dashboard/Reservation.html.twig' %}
                {% elseif section =='avis' %}
                    {% include 'review/ListReviewActivity.html.twig' %}
            {% endif %}
        </div>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("open");
            console.log("Sidebar toggled:", sidebar.classList.contains("open"));
        }
    </script>
{% endblock %}


