
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/new.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h2>
            {% if user is defined %}
                Modifier l'utilisateur
            {% else %}
                Ajouter un nouvel utilisateur
            {% endif %}
        </h2>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
        <a href="{{ path('app_admin_accommodation_list') }}">Retour à la liste</a>
    </div>
{% endblock %}




