
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
{% endblock %}
{% block importmap %}
    {{ importmap('pagination') }}
{% endblock %}
{% block body %}
<div class="reservation-container">
    <h1>Gestion des Utilisateurs</h1>

    <p>Nombre total des Utilisateur: <strong>{{ pagination.getTotalItemCount }}</strong></p>
    <a href="{{ path('app_admin_user_new') }}" class="btn-create">Créer un nouveau utilisateur </a>

    <table class="reservation-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userProfile.firstName }}</td>
                <td>{{ user.email }}</td>
                <td class="actions">
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn-show">Voir</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn-edit">Modifier</a>
                    <form action="{{ path('app_admin_user_delete', {'id': user.id}) }}" method="post" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn-delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
