
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/Admin/showAll.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notification-message.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
{% endblock %}
{% block body %}
    <!-- Message flash  -->

    <div class="flash-messages">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    <span>{{ message }}</span>
                    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
<div class="reservation-container">
    <h1>Gestion des Utilisateurs</h1>

    <p>Nombre total des Utilisateur: <strong>{{ pagination.getTotalItemCount }}</strong></p>
    <a href="{{ path('app_admin_user_new') }}" class="btn-create">Créer un nouveau utilisateur </a>

    <table class="reservation-table ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userProfile.firstName|default('Nom non défini') }}</td>
                <td>{{ user.email }}</td>
                <td class="actions">
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn-show">Voir</a>
                    <form action="{{ path('app_admin_user_remove', {'id': user.id}) }}" method="post" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button type="submit" class="btn-delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
