{% extends 'base.html.twig' %}
{% block title %}Activités{% endblock %}
{% block meta_description %}
    <meta name="description" content="  Découvrez les meilleurs Activities dans des destinations touristiques
">

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/cardActivity.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/Filter.css') }}">
{% endblock %}
{% block body %}
    {# Affichage des messages flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
    {# Bouton pour ouvrir la formulaire de filtre #}
    <div class="filter-toggle1" onclick="toggleFilterModal()">
        <img src="{{ asset('images/filter.webp') }}" alt="Filtrer" class="filter-icon">
        <span>Filtrage</span>
    </div>

    {# Inclusion de la formulaire de filtrage #}
    {% include '_partials/_Filter_Activity.html.twig' %}

    {# Conteneur pour les cartes d'annonces #}
    <div class="container_activity">
        {% if activities is not empty %}
            {% for activity in activities %}
                {% include '_partials/cardActivity.html.twig' %}
            {% endfor %}
        {% else %}
            <p>Aucun résultat trouvé.</p>
        {% endif %}
    </div>

    {# Pagination #}
    <div class="pagination-container">
        {{ knp_pagination_render(activities) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/Filter.js') }}"></script>
{% endblock %}
