{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block importmap %}
    {{ importmap('activity') }}
    {{ importmap('pagination') }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
{% endblock %}

{% block body %}
    {# Affichage des messages flash #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}

    <div class="accommodation-container">
        {# Section de filtrage #}
        <div class="filter-section">
            {% include '_partials/_Filter_Activity.html.twig' %}

        </div>
        {# Conteneur pour les cartes d'annonces #}
        <div class="container_activity">
            {% if activities is not empty %}
                {% for activity in activities %}
                        {% include '_partials/cardActivity.html.twig' %}
                {% endfor %}
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </div>

        {# Pagination #}
        <div class="pagination-container">
            {{ knp_pagination_render(activities) }}
        </div>
    </div>

{% endblock %}
