{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Détails de l'Activité{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/showAd.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
{% endblock %}

{% block body %}
    {% for type, messages in { 'success': 'alert-success', 'warning': 'alert-warning', 'error': 'alert-danger' } %}
        {% for message in app.flashes(type) %}
            <div class="alert {{ messages }} flash-message">
                <span>{{ message }}</span>
                <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ path('app_activity_showAll') }}" class="back-to-accommodation1">
        <img src="{{ asset('images/en-arriere.png') }}" alt="" class="back-icon1">
    </a>
    <div class="details1">
        <h1 class>{{ activity.title }}</h1>


        <div class="activity-image">
            {% set imagePath = 'uploads/activities/' ~ activity.picture.name %}
            <img class="image1" src="{{ asset(imagePath) }}" alt="Image de l'activité">
        </div>


        <!-- Détails de activities -->
        <div class="show">
        <div class="details-section1">
            <p><strong>Hôte :</strong> {{ activity.host.userProfile.firstName}} </p>
            <p><strong>Prix :</strong> {{ activity.price }} €</p>
            <p><strong>Durations :</strong> {{ activity.duration }}</p>
            <p><strong>Catégorie :</strong> {{ activity.category.name }}</p>
            <p><strong>Description :</strong> {{ activity.description }}</p>
            <p><strong>Ville :</strong> {{ activity.city.name }}</p>
            <p><strong>Pays :</strong> {{ activity.city.country.name }}</p>

        </div>

        <!-- Formulaire de réservation -->
        <div class="reservation-form1">
            {% include 'reservation/ReservationActivity.html.twig' %}
        </div>
        </div>
        <!-- avis-->



    <div class="reviews-section">
        {% include 'review/ListReviewActivity.html.twig' %}
    </div>
    </div>
{% endblock %}
