{% extends 'base.html.twig' %}
{% block title %}Accommodations{% endblock %}
{% block meta_description %}
    <meta name="description" content=" Découvrez les meilleurs hébergements dans des destinations touristiques
">
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/cardAccomodation.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/pagination.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/notif.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/Filter.css') }}">
{% endblock %}
{% block body %}
    {# Flash messages pour informer l utilisateur  #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning flash-message">
            <span>{{ message }}</span>
            <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
    {% endfor %}

    {# Bouton pour ouvrir la formulaire de filtrage spécifique  #}
    <div class="filter-toggle" onclick="toggleFilterModal()">
        <img src="{{ asset('images/filter.webp') }}" alt="Filtrer" class="filter-icon">
        <span>Filtrage</span>
    </div>

    {# Inclusion de la modale de filtrage #}
    {% include '_partials/_Filter_Accommodation.html.twig' %}

    {# Conteneur pour les cartes d'annonces et la pagination #}
    <div class="accommodation-container">
        <div class="card-container">
            {# Vérifie s'il y a des annonces disponibles #}
            {% if accommodations is not empty %}
                {% for accommodation in accommodations %}
                    {% include '_partials/cardAccomodation.html.twig' %}
                {% endfor %}
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </div>
        {# conteneur pour la pagination#}
        <div class="pagination-container">
            {{ knp_pagination_render(accommodations) }}
        </div>
    </div>

{% endblock %}
{#inclusions des fichier js pour la caroussel et le filtrage #}
{% block javascripts %}
    <script src="{{ asset('js/Filter.js') }}"></script>
{% endblock %}
