{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block title %}Détails de l'Hébergement{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/showAd.css') }}">

{% endblock %}

{% block body %}
   <a href="{{ path('app_accommodation_showAll') }}" class="back-to-accommodation">
        <img src="{{ asset('images/en-arriere.png') }}" alt="Retour aux hébergements" class="back-icon">
    </a>
        <div class="details">
                <h1>{{ accommodation.title }}</h1>

                <!-- Liste des images  -->
                <div class="image-gallery">
                        {% for picture in accommodation.pictures %}
                                <img class="image" src="{{ asset(picture.imageURL) }}" alt="Image de l'hébergement">
                        {% endfor %}
                </div>

                <!-- Détails de logement -->
                <div class="show">
                     <div class="details-section">
                       <p><strong>Hôte :</strong> {{ accommodation.host.userProfile.firstName }} </p>
                        <p><strong>Prix par nuit :</strong> {{ accommodation.priceNight }} €</p>
                        <p><strong>Nombre d'invités :</strong> {{ accommodation.NbGuests }}</p>
                        <p><strong>Nombre de chambres :</strong> {{ accommodation.NbRooms }}</p>
                        <p><strong>Description :</strong> {{ accommodation.description }}</p>
                         <p><strong>Type de propriété:</strong> {{ accommodation.propertyType.value }}</p>
                        <p><strong>Adresse :</strong> {{ accommodation.address }}</p>
                        <p><strong>Ville :</strong> {{ accommodation.city.name }}</p>
                        <p><strong>Pays :</strong> {{ accommodation.city.country.name }}</p>
                       </div>
                        <!-- Formulaire de réservation -->
                            <div class="reservation-form">
                                {% include 'reservation/reservationAccommodation.html.twig' %}
                             </div>
                                 </div>


                            <!-- avis-->
                              <div class="reviews-section">
                                 {% include 'review/ListReviewAccom.html.twig' %}
                              </div>


{% endblock %}
{% block javascripts %}
        <script src="{{ asset('js/ReservationDate.js') }}"></script>
{% endblock %}