{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/updateProfile.css') }}">
{% endblock %}

{% block body %}
    <div class="form-container">
        <h2>Modifier mon profil</h2>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


