{% extends 'base.html.twig' %}
{% block importmap %}
    {{ importmap('updateProfile') }}
{% endblock %}
 {% block header %}{% endblock %}
{% block title %}Mofier Profil{% endblock %}

{% block body %}
    <h1>Modifier votre Profil {{ userProfile.firstName }}</h1>

    {{ include('user_profile/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('userProfile_show') }}">Verifier</a>
    <a href="{{ path('host_dashboard') }}">Retour au Tableau de Bord</a>

{% endblock %}
   {% block footer %} {% endblock %}
